table{
    padding: 10px;
    background-color: #f2f2f2  ;
    border-radius: 8px;
  }

  :host ::ng-deep table {
    position: relative;
    tr {
      td,
      th {
        &:nth-child(1) {
          width: 10%;
          padding-left: 0px !important;
          text-align: center !important;
          font-weight: 400 !important;
          min-width: 100px;
          max-width: 100px;
          .mat-form-field {
            width: 80%;
          }
        }

        &:nth-child(2) {
          width: 10%;
          padding-left: 0px !important;
          text-align: center !important;
          font-weight: 400 !important;
          min-width: 100px;
          max-width: 100px;
          .mat-form-field {
            width: 80%;
          }
        }
        &:nth-child(3) {
          width: 10%;
          padding-left: 0px !important;
          text-align: center !important;
          font-weight: 400 !important;
          min-width: 100px;
          max-width: 100px;
          .mat-form-field {
            width: 80%;
          }
        }
        &:nth-child(4) {
          width: 10%;
          padding-left: 0px !important;
          text-align: center !important;
          font-weight: 400 !important;
          min-width: 100px;
          max-width: 100px;
          .mat-form-field {
            width: 80%;
          }
        }
        &:nth-child(5) {
          width: 10%;
          padding-left: 0px !important;
          text-align: center !important;
          font-weight: 400 !important;
          min-width: 100px;
          max-width: 100px;
          .mat-form-field {
            width: 80%;
          }
        }
        &:nth-child(6) {
          width: 10%;
          padding-left: 0px !important;
          text-align: center !important;
          font-weight: 400 !important;
          min-width: 100px;
          max-width: 100px;
          .mat-form-field {
            width: 80%;
          }
        }
        &:nth-child(7) {
          width: 10%;
          padding-left: 0px !important;
          text-align: center !important;
          font-weight: 400 !important;
          min-width: 100px;
          max-width: 100px;
          .mat-form-field {
            width: 80%;
          }
        }
        &:nth-child(8) {
          width: 10%;
          padding-left: 0px !important;
          text-align: center !important;
          font-weight: 400 !important;
          min-width: 100px;
          max-width: 100px;
          .mat-form-field {
            width: 80%;
          }
        }
        &:nth-child(9) {
          width: 10%;
          padding-left: 0px !important;
          text-align: center !important;
          font-weight: 400 !important;
          min-width: 100px;
          max-width: 100px;
          .mat-form-field {
            width: 80%;
          }
        }
      }

      td {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 0;
        white-space: nowrap;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }

      th {
        vertical-align: top;

        .mat-form-field-infix {
          width: unset !important;
        }
      }
      &:nth-child(1) {
        th {
          padding-top: 0.9em;
        }
      }
    }

    thead tr {
      &:nth-child(1) {
        height: 20px;
      }
      &:nth-child(2) {
        height: 20px;
      }

    }

    tr {
      td,
      td {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 0;
        white-space: nowrap;
        padding: 0.5em;
      }

      th {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: bold !important;
        vertical-align: top;
        padding-left: 1rem;
      }
    }

    thead {
      background: #015BAB;
    }
  }

  .mat-mdc-header-row{
    color: #f2f2f2;
  }

  .mat-mdc-header-cell.mat-column-employee_number {
  border-top-left-radius: 8px;
  }
  .mat-mdc-header-cell.mat-column-employee_number_filter {
    border-bottom-left-radius: 8px;

  }
  .mat-mdc-header-cell.mat-column-action {
    border-top-right-radius: 8px;

  }
  .mat-mdc-header-cell.mat-column-action_filter {
    border-bottom-right-radius: 8px;
  }

  .mat-mdc-header-cell {
    border: 0px solid #ffffff;
  }

  .mat-mdc-cell{
    border: 0px solid #ffffff;
  }

  .mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: #FFF138;
    --mdc-protected-button-label-text-color: #000000;
    --mat-protected-button-state-layer-color: #000000;
    --mat-protected-button-ripple-color: rgba(255, 255, 255, 0.1);
    font-weight: 600;
  }
