<section id="form-permit-container" class="flex flex-col justify-between items w-[100vw] px-4 py-6 h-[100vh] bg-white lg:hidden">
  <main id="form-permit" class="w-full gap-6 flex flex-col items-start overflow-auto">
    <!-- Form first page -->
    <section id="form-permit-page" class="flex flex-col items-start gap-6 w-full mb-24">
      <section id="title-navigation" class="flex flex-col items-start gap-4 w-full">
        <section id="title">
          <strong class="text-primary-blue text-3xl">Form ST Dinas</strong>
        </section>
        <section id="navigation" class="flex flex-col items-start gap-1 w-full">
          <article id="progress" class="justify-between items-center gap-4 flex w-full h-fit">
            <span *ngFor="let bar of formTotalPage; let barIndex = index" id="rectangle" class="rounded-full h-1 w-full" [ngClass]="barIndex === formPage ? 'bg-primary-blue' : barIndex < formPage ? 'bg-green-500' : 'bg-[#D9D9D9]'"></span>
          </article>
          <article id="page-title">
            <strong class="text-xl">{{ formPage === 0 ? 'Detail ST Dinas' : 'Persetujuan Pemberi Tugas'}}</strong>
          </article>
        </section>
      </section>

      <section *ngIf="formPage === 0" id="main-form detail-permit" class="flex flex-col gap-6 items-start w-full">
        <article id="input-disabled" class="flex gap-4 items-start justify-start w-full">
          <strong class="w-24">Nama</strong>
          <section class="flex items-start gap-1">
            <span>:</span>
            <p>{{employeeData?.name}}</p>
          </section>
        </article>
        <article id="input-disabled" class="flex gap-4 items-center justify-start w-full">
          <strong class="w-24">NRP</strong>
          <section class="flex items-start gap-1">
            <span>:</span>
            <p>{{employeeData?.employee_number}}</p>
          </section>
        </article>
        <article id="input-disabled" class="flex gap-4 items-center justify-start w-full">
          <strong class="w-24">Jabatan</strong>
          <section class="flex items-start gap-1">
            <span>:</span>
            <p>{{employeeData?.position?.name}}</p>
          </section>
        </article>
        <article id="input-disabled" class="flex gap-4 items-center justify-start w-full">
          <strong class="w-24">Departemen</strong>
          <section class="flex items-start gap-1">
            <span>:</span>
            <p>{{employeeData?.position?.department}}</p>
          </section>
        </article>
        <article id="input-disabled" class="flex gap-4 items-center justify-start w-full">
          <strong class="w-24">Jumlah Hari Kerja</strong>
          <section class="flex items-start gap-1">
            <span>:</span>
            <p>{{employeeData?.position?.type === 'staff' ? 56 : 84 }}</p>
          </section>
        </article>
        <article id="input-calendar" class="flex flex-col gap-4 items-start justify-start w-full">
          <section class="flex gap-4 items-center justify-start">
            <strong class="w-fit">Tanggal Dinas*:</strong>
          </section>
          <section class="flex w-full gap-2 items-center" [formGroup]="permitFormGroup">
            <mat-form-field appearance="outline" class="w-full text-date">
              <input
                matInput
                [formControlName]="'start_date_dinas'"
                [matDatepicker]="pickerstart_date_dinas"
                [readonly]="true"
                [min]="minDate"
                (dateInput)="calculatePermitDay()"
              />
              <mat-datepicker-toggle matIconSuffix [for]="pickerstart_date_dinas"></mat-datepicker-toggle>
              <mat-datepicker #pickerstart_date_dinas></mat-datepicker>
            </mat-form-field>
            <span>s/d</span>
            <mat-form-field appearance="outline" class="w-full text-date">
              <input
                matInput
                [formControlName]="'end_date_dinas'"
                [matDatepicker]="pickerend_date_dinas"
                [readonly]="true"
                [min]="minDate"
              />
              <mat-datepicker-toggle matIconSuffix [for]="pickerend_date_dinas"></mat-datepicker-toggle>
              <mat-datepicker #pickerend_date_dinas></mat-datepicker>
            </mat-form-field>
          </section>
        </article>
        <article id="input-calendar" class="flex flex-col gap-4 items-start justify-start w-full">
          <section class="flex gap-4 items-center justify-start">
            <strong class="w-fit">Tanggal Dinas*:</strong>
          </section>
          <section class="flex w-full gap-2 items-center" [formGroup]="permitFormGroup">
            <mat-form-field appearance="outline" class="w-full text-date">
              <input
                matInput
                [formControlName]="'date_of_eligible_for_leave'"
                [matDatepicker]="pickerstart_date_dinas"
                [readonly]="true"
                [min]="minDate"
                (dateInput)="calculatePermitDay()"
              />
              <mat-datepicker-toggle matIconSuffix [for]="pickerstart_date_dinas"></mat-datepicker-toggle>
              <mat-datepicker #pickerstart_date_dinas></mat-datepicker>
            </mat-form-field>
          </section>
        </article>
      </section>

      <section *ngIf="formPage === 1" id="main-form detail-approval" class="flex flex-col gap-8 items-start w-full">
        <article id="input-disabled" *ngFor="let approver of approverData; let i = index" class="flex flex-col gap-4 items-start justify-start w-full">
          <strong class="w-fit">Persetujuan {{i + 1}}:</strong>
            <p>{{approver?.employee_number + ' - ' + approver?.name}}</p>
            <p class="text-xs -mt-3">*{{approver?.position?.name}}*</p>
        </article>
      </section>
    </section>
  </main>
  <footer id="form-permit-action" class="flex justify-end items-center gap-4 bg-white fixed bottom-0 left-0 px-4 shad pb-6 w-[100vw] action-container">
    <article *ngIf="formPage > 0" (click)="backToPreviousForm()" class="px-6 rounded-lg cursor-pointer py-3 flex justify-center items-center shadow-md text-white bg-error">Kembali</article>
    <article *ngIf="formPage === 0" (click)="CancelCreateForm()" class="px-6 rounded-lg cursor-pointer py-3 flex justify-center items-center shadow-md text-black bg-primary-yellow">Batalkan</article>
    <article *ngIf="formPage < 1" (click)="nextForm()" class="px-6 rounded-lg cursor-pointer py-3 flex justify-center items-center shadow-md text-white bg-primary-blue">Selanjutnya</article>
    <article *ngIf="formPage === 1" (click)="submitForm()" class="px-6 rounded-lg cursor-pointer py-3 flex justify-center items-center shadow-md text-white bg-primary-blue">Ajukan Permohonan</article>
  </footer>
</section>
<div *ngIf="isWaitingForResponse" class="inner-loading-indicator">
  <mat-spinner color="primary" [diameter]="100"></mat-spinner>
</div>

<div
  [ngClass]="{ hidden: isWaitingForResponse }"
  class="flex-col p-5 text-center hidden-responsive lg:flex"
>
  <h2 class="mt-1">Form Tugas Lapangan</h2>

  <!--Page Container -->
  <div
    style="background-color: white"
    class="flex flex-col items-left customBorder"
  >
    <!-- Leave Form Section 1 -->
    <div class="flex flex-col justify-between h-full">
      <form [formGroup]="permitFormGroup">
        <!-- Form Section -->
        <div class="flex flex-row">
          <div class="flex flex-col items-left w-1/2 pt-3 mr-2">
            <div class="mb-4">
              <div class="flex flex-row h-10 mb-6 items-baseline">
                <div class="w-70 text-left">
                  <span>NRP</span>
                </div>
                <div>
                  <mat-form-field appearance="outline" class="w-80">
                    <input
                      class="w-80"
                      matInput
                      [formControlName]="'employee_number'"
                      [disabled]="true"
                      [readonly]="true"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="flex flex-row h-10 mb-6 items-baseline">
                <div class="w-70 text-left">
                  <span>Nama</span>
                </div>
                <div>
                  <mat-form-field appearance="outline" class="w-80">
                    <input
                      class="w-80"
                      matInput
                      [formControlName]="'name'"
                      [disabled]="true"
                      [readonly]="true"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="flex flex-row h-10 mb-6 items-baseline">
                <div class="w-70 text-left">
                  <span>Jabatan</span>
                </div>
                <div>
                  <mat-form-field appearance="outline" class="w-80">
                    <input
                      class="w-80"
                      matInput
                      [formControlName]="'position'"
                      [disabled]="true"
                      [readonly]="true"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="flex flex-row h-10 mb-6 items-baseline">
                <div class="w-70 text-left">
                  <span>Departemen</span>
                </div>
                <div>
                  <mat-form-field appearance="outline" class="w-80">
                    <input
                      class="w-80"
                      matInput
                      [formControlName]="'department'"
                      [disabled]="true"
                      [readonly]="true"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col items-left w-1/2 pt-3">
            <div class="mb-4">
              <div class="flex flex-row h-10 mb-6 items-baseline">
                <div class="w-70 text-left">
                  <span>Tanggal Awal Dinas*</span>
                </div>
                <div class="w-80">
                  <mat-form-field style="width: 320px;" appearance="outline" class="w-80 testing">
                    <input
                      matInput
                      [formControlName]="'start_date_dinas'"
                      [matDatepicker]="pickerstart_date_dinas"
                      [readonly]="true"
                      [min]="minDate"
                      (dateInput)="calculatePermitDay()"
                    />
                    <mat-datepicker-toggle matIconSuffix [for]="pickerstart_date_dinas"></mat-datepicker-toggle>
                    <mat-datepicker #pickerstart_date_dinas></mat-datepicker>
                    <mat-error
                    *ngIf="
                      permitFormGroup
                        .get('start_date_dinas')
                        .hasError('required') && permitFormGroup.get('start_date_dinas').touched
                    "
                  >
                    Kolom ini wajib diisi
                  </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="flex flex-row h-10 mb-6 items-baseline">
                <div class="w-70 text-left">
                  <span>Jumlah Hari Kerja</span>
                </div>
                <div>
                  <mat-form-field appearance="outline" class="w-80">
                    <input
                      class="w-80"
                      matInput
                      [formControlName]="'total_work_days'"
                      [disabled]="true"
                      [readonly]="true"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="flex flex-row h-10 mb-6 items-baseline">
                <div class="w-70 text-left">
                  <span>Akhir Dinas</span>
                </div>
                <div>
                  <mat-form-field style="width: 320px;" appearance="outline" class="w-80 testing">
                    <input
                      matInput
                      [formControlName]="'end_date_dinas'"
                      [matDatepicker]="pickerend_date_dinas"
                      [readonly]="true"
                      [min]="minDate"
                    />
                    <mat-datepicker-toggle matIconSuffix [for]="pickerend_date_dinas"></mat-datepicker-toggle>
                    <mat-datepicker #pickerend_date_dinas></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="flex flex-row h-10 mb-6 items-baseline">
                <div class="w-70 text-left">
                  <span>Tanggal Matang Cuti</span>
                </div>
                <div>
                  <mat-form-field style="width: 320px;" appearance="outline" class="w-80" class="testing">
                    <input
                      matInput
                      [formControlName]="'date_of_eligible_for_leave'"
                      [matDatepicker]="pickerdate_of_eligible_for_leave"
                      [readonly]="true"
                      [min]="minDate"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="pickerdate_of_eligible_for_leave"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerdate_of_eligible_for_leave></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-left mt-10">
          <h3 class="text-left my-2">Persetujuan Pemberi Tugas</h3>
        </div>
        <div class="w-full mt-5 mb-10">
            <mat-divider></mat-divider>
        </div>
        <!-- START PERSETUJUAN CUTI -->
        <div class="flex flex-row h-10 mb-6 items-baseline">
          <div class="w-70 text-left">
            <span>Persetujuan 1</span>
          </div>
          <div>
            <mat-form-field class="w-160" appearance="outline">
              <input
                class="w-160"
                matInput
                [formControlName]="'first_approval'"
                [disabled]="true"
                [readonly]="true"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="flex flex-row h-10 mb-6 items-baseline">
          <div class="w-70 text-left">
            <span>Persetujuan 2</span>
          </div>
          <div>
            <mat-form-field class="w-160" appearance="outline">
              <input
                class="w-160"
                matInput
                [formControlName]="'second_approval'"
                [disabled]="true"
                [readonly]="true"
              />
            </mat-form-field>
          </div>
        </div>
      </form>
            <!--Reason Start-->
            <div *ngIf="isRevision || isRejected" class="p-10 w-100 h-50 text-left rounded-lg reason-border my-10">
              <div>
                <h3 class="m-0 p-0">
                  Alasan
                </h3>
              </div>
             <div class="my-3">
              <mat-divider></mat-divider>
             </div>
              <div class="mt-5">
                <span>
                  {{reasonText}}
                </span>
              </div>
            </div>
            <!--Reason End-->
      <!-- Button Group -->
      <div *ngIf="!isPreviewMode" class="self-end">
        <button (click)="CancelCreateForm()" mat-raised-button color="warn">Batalkan</button>
        <button (click)="submitForm()" class="ml-2" mat-raised-button color="primary">Ajukan Permohonan</button>
      </div>
      <!-- <div *ngIf="isPreviewMode && !isEditMode" class="self-end">
        <button (click)="edit()" class="ml-2" mat-raised-button color="primary">Edit</button>
      </div> -->
      <div *ngIf="isPreviewMode && !isEditMode" class="flex flex-row justify-between">
        <div>
          <div >
            <button
              (click)="backPreviousPage()"
              mat-raised-button
              color="accent"
            >
              Kembali
            </button>
          </div>
        </div>
        <div class="flex flex-row">
          <div *ngIf="ButtonApproveCondition()">
            <button
              (click)="OpenDialogApproval('cancel')"
              mat-raised-button
              color="warn"
            >
              Tolak
            </button>
          </div>
          <div *ngIf="ButtonApproveCondition()" class="ml-2">
            <button
              (click)="OpenDialogApproval('revision')"
              mat-raised-button
              color="accent"
            >
              Revisi
            </button>
          </div>
          <div *ngIf="ButtonApproveCondition()" class="ml-2">
            <button (click)="ApproveForm()" mat-raised-button color="primary">
              Setuju
            </button>
          </div>
          <div *ngIf="editCondition()" class="ml-2">
            <button (click)="edit()"  mat-raised-button color="primary">
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
