.notification-header-background{
  background: #015BAB !important;
}

.cursor-custom{
  cursor: default !important;
}

.custom-flex{
  display: flex!important;
  flex-direction: row !important;
  width: fit-content!important;
}

.custom-button{
  border-width: 0px;
  background-color: transparent;
}
