<div *ngIf="isWaitingForResponse" class="inner-loading-indicator">
  <mat-spinner color="primary" [diameter]="100"></mat-spinner>
</div>
<div class="p-2 h-full">
    <div class="flex flex-row justify-between mb-2">
      <div class="flex flex-row">
        <button (click)="OpenFormToCreate()" class="mr-1" color="primary" mat-raised-button>+ Ajukan Permohohan</button>
      </div>
      <div class="flex flex-row">
        <div class="ml-1">
          <button color="none" (click)="resetTable()" mat-raised-button>
            <mat-icon>refresh</mat-icon>
            <span>Reset</span>
          </button>
        </div>
      </div>
    </div>
    <div class="mat-elevation-z8 horizontal">
      <table class="mat-elevation-z8"  mat-table [dataSource]="dataSource">

        <!-- Fillter Section -->

        <ng-container matColumnDef="none_filter">
          <th mat-header-cell *matHeaderCellDef>

          </th>
        </ng-container>

          <ng-container  matColumnDef="created_date_filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field appearance="outline" class="w-full mx-auto">
                <input
                placeholder="Cari"
                  matInput
                  [formControl]="formControls.created_date_ctrl"
                  [matDatepicker]="created_date_filter"
                  [readonly]="true"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="created_date_filter"
                ></mat-datepicker-toggle>
                <mat-datepicker #created_date_filter></mat-datepicker>
              </mat-form-field>
            </th>
          </ng-container>

          <ng-container  matColumnDef="application_type_filter">
            <th mat-header-cell *matHeaderCellDef>
              <ng-select
              class="mx-auto"
              appendTo="body"
              [items]="applicationFormTypeList"
              bindLabel="name"
              bindValue="value"
              placeholder="Filter Kolom"
              [formControl]="formControls.application_type_ctrl"
            >
            </ng-select>
            </th>
          </ng-container>

          <ng-container  matColumnDef="is_ticket_supported_filter">
            <th mat-header-cell *matHeaderCellDef>
              <ng-select
              class="mx-auto"
              appendTo="body"
              [items]="isTicketSupportedList"
              bindLabel="name"
              bindValue="value"
              placeholder="Filter Kolom"
              [formControl]="formControls.is_ticket_supported_ctrl"
            >
            </ng-select>
            </th>
          </ng-container>

          <ng-container  matColumnDef="departure_off_day_filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field appearance="outline"  class="w-full mx-auto" >
                <input
                placeholder="Cari"
                  matInput
                  [formControl]="formControls.departure_off_day_ctrl"
                  [matDatepicker]="departure_off_day_filter"
                  [readonly]="true"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="departure_off_day_filter"
                ></mat-datepicker-toggle>
                <mat-datepicker #departure_off_day_filter></mat-datepicker>
              </mat-form-field>
            </th>
          </ng-container>

          <ng-container  matColumnDef="start_date_filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field appearance="outline"  class="w-full mx-auto" >
                <input
                placeholder="Cari"
                  matInput
                  [formControl]="formControls.start_date_ctrl"
                  [matDatepicker]="start_date_filter"
                  [readonly]="true"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="start_date_filter"
                ></mat-datepicker-toggle>
                <mat-datepicker #start_date_filter></mat-datepicker>
              </mat-form-field>
            </th>
          </ng-container>

          <ng-container  matColumnDef="field_leave_duration_filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field appearance="outline"  class="w-full mx-auto" >
                <input
                placeholder="Cari"
                  matInput
                  [formControl]="formControls.field_leave_duration_ctrl"
                />
              </mat-form-field>
            </th>
          </ng-container>

          <ng-container  matColumnDef="yearly_leave_duration_filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field appearance="outline"  class="w-full mx-auto" >
                <input
                placeholder="Cari"
                  matInput
                  [formControl]="formControls.yearly_leave_duration_ctrl"
                />
              </mat-form-field>
            </th>
          </ng-container>

          <ng-container  matColumnDef="permission_duration_filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field appearance="outline"  class="w-full mx-auto" >
                <input
                placeholder="Cari"
                  matInput
                  [formControl]="formControls.permission_duration_ctrl"
                />
              </mat-form-field>
            </th>
          </ng-container>

          <ng-container  matColumnDef="compensation_duration_filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field appearance="outline"  class="w-full mx-auto" >
                <input
                placeholder="Cari"
                  matInput
                  [formControl]="formControls.compensation_duration_ctrl"
                />
              </mat-form-field>
            </th>
          </ng-container>

          <ng-container  matColumnDef="end_date_filter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field appearance="outline"  class="w-full mx-auto" class="w-full w">
                <input
                placeholder="Cari"
                  matInput
                  [formControl]="formControls.end_date_ctrl"
                  [matDatepicker]="end_date_filter"
                  [readonly]="true"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="end_date_filter"
                ></mat-datepicker-toggle>
                <mat-datepicker #end_date_filter></mat-datepicker>
              </mat-form-field>
            </th>
          </ng-container>

          <ng-container  matColumnDef="form_status_filter">
            <th mat-header-cell *matHeaderCellDef>
              <ng-select
              class="mx-auto"
              appendTo="body"
              [items]="formStatusList"
              bindLabel="name"
              bindValue="value"
              placeholder="Filter Kolom"
              [formControl]="formControls.form_status_ctrl"
            >
            </ng-select>
            </th>
          </ng-container>

          <ng-container  matColumnDef="pdf_application_form_filter">
            <th mat-header-cell *matHeaderCellDef>
              <ng-select
              class="mx-auto"
              appendTo="body"
              [items]="pdfStatusList"
              bindLabel="name"
              bindValue="value"
              placeholder="Filter Kolom"
              [formControl]="formControls.pdf_application_form_ctrl"
            >
            </ng-select>
            </th>
          </ng-container>

          <ng-container  matColumnDef="action_filter" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
          </ng-container>

          <!--Data Section-->

          <ng-container  matColumnDef="none">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> </td>
          </ng-container>

          <ng-container  matColumnDef="created_date">
            <th mat-header-cell *matHeaderCellDef> Tanggal Pengajuan</th>
            <td mat-cell *matCellDef="let element"> {{ element?.created_date }} </td>
          </ng-container>

          <ng-container  matColumnDef="application_type" >
            <th mat-header-cell *matHeaderCellDef> Jenis Permohonan</th>
            <td mat-cell *matCellDef="let element"> {{ element?.application_type === 'cuti' ? 'Cuti' : 'Ijin' }} </td>
          </ng-container>

          <ng-container  matColumnDef="is_ticket_supported" >
            <th mat-header-cell *matHeaderCellDef> Bantuan Tiket </th>
            <td mat-cell *matCellDef="let element"> {{ element?.is_ticket_supported === true ? 'Ada': 'Tidak' }} </td>
          </ng-container>

          <ng-container  matColumnDef="departure_off_day" >
            <th mat-header-cell *matHeaderCellDef> Tanggal Berangkat </th>
            <td mat-cell *matCellDef="let element"> {{ element?.leaves?.departure_off_day?.date }} </td>
          </ng-container>

          <ng-container  matColumnDef="start_date" >
            <th mat-header-cell *matHeaderCellDef> Awal Cuti </th>
            <td mat-cell *matCellDef="let element"> {{ element?.start_date }} </td>
          </ng-container>

          <ng-container  matColumnDef="field_leave_duration" >
            <th mat-header-cell *matHeaderCellDef> Roster </th>
            <td mat-cell *matCellDef="let element"> {{ element?.leaves?.field_leave_duration }} </td>
          </ng-container>

          <ng-container  matColumnDef="yearly_leave_duration" >
            <th mat-header-cell *matHeaderCellDef> Tahun / Besar </th>
            <td mat-cell *matCellDef="let element"> {{ element?.leaves?.yearly_leave_duration }} </td>
          </ng-container>

          <ng-container  matColumnDef="permission_duration" >
            <th mat-header-cell *matHeaderCellDef> Ijin </th>
            <td mat-cell *matCellDef="let element"> {{ element?.leaves?.permission_duration }} </td>
          </ng-container>

          <ng-container  matColumnDef="compensation_duration" >
            <th mat-header-cell *matHeaderCellDef>  Durasi Kompensasi </th>
            <td mat-cell *matCellDef="let element"> {{ element?.leaves?.compensation_duration }} </td>
          </ng-container>

          <ng-container  matColumnDef="end_date" >
            <th mat-header-cell *matHeaderCellDef> Akhir Cuti </th>
            <td mat-cell *matCellDef="let element"> {{ element?.end_date }} </td>
          </ng-container>

          <ng-container  matColumnDef="form_status" >
            <th mat-header-cell *matHeaderCellDef> Status Formulir </th>
            <td mat-cell *matCellDef="let element">
                <button
                [matTooltip]="getStatusTooltip(element?.form_status)"
                mat-icon-button
                [ngStyle]="{'color': getStatusColor(element?.form_status)}">
                  <mat-icon>lens</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container  matColumnDef="pdf_application_form" >
            <th mat-header-cell *matHeaderCellDef> Formulir Permohonan </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="OpenPdfApplicationForm(element?.pdf_application_form)" *ngIf="element.pdf_application_form" mat-icon-button>
                    <mat-icon class="cursor-pointer" class="text-green-700" >picture_as_pdf</mat-icon>
                  </button>
                  <button  *ngIf="!element.pdf_application_form" mat-icon-button>
                    <mat-icon  class="text-red-700" >picture_as_pdf</mat-icon>
                  </button>
            </td>
          </ng-container>

          <ng-container  matColumnDef="action" stickyEnd>
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td class="jusify-center" mat-cell *matCellDef="let element">
                <div style="justify-content: center !important;" class="flex flex-row jusify-center align-center gap-1">
                  <div>
                    <button [routerLink]="['/form-leave/preview',element?._id ,element.employee_id._id ]" mat-icon-button>
                      <mat-icon  class="cursor-pointer">remove_red_eye</mat-icon>
                    </button>
                  </div>
                  <div>
                    <button *ngIf="element?.form_status === 'completed'" (click)="OpenPDFLeaveLetter(element?.pdf_leave_letter)" mat-icon-button>
                      <mat-icon  class="cursor-pointer text-indigo-900" >picture_as_pdf</mat-icon>
                    </button>
                  </div>
                 </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-header-row *matHeaderRowDef="filterCols"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    </div>

    <div style="text-align: center !important; margin: 20px !important;" class="my-10 text-center w-full" *ngIf="(noData | async)" class="no-records">
      <span class="text-md text-center text-gray-700 font-semibold">Data Tidak Ditemukan</span>
    </div>
    <div [ngClass]="{'hidden': noData | async  }"  >
      <mat-paginator
        [ngClass]="{ 'hide-pagination-buttons': paginator.length <= 10 }"
        [length]="dataCount"
        [hidePageSize]="true"
        [pageSize]="10"
        showFirstLastButtons
      ></mat-paginator>
    </div>
</div>

 <!-- <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr> -->
