<nav #sidebar class="sidebar" [ngClass]="showMobile ? '-ml-64' : ''">
  <div #iconButtonOpen class="logo-details mt-10 mb-10 flex flex-col">
    <div class="my-2 text-center logo_name">
      <img
        class="size-32 logo-image"
        src="assets/images/LOGO.ico"
        alt="Deskripsi Gambar"
      />
    </div>
    <i class="bx bx-menu" id="btn" (click)="toggleSidebar()"></i>
  </div>
  <br />
  <ul class="nav-list">

    <!-- Navigation Menu Start Here -->
    <ng-container *ngFor="let nav of navigationMenu">
      <li [id]="nav?._id">
        <a [routerLink]="[nav?.link]" [ngClass]="currRoute === nav?.link ? 'active' : ''">
          <i [ngClass]="nav?.icon"></i>
          <span [ngClass]="nav?.textClass">{{nav?.name}}</span>
        </a>
        <span [ngClass]="nav?.tooltipClass">{{nav?.name}}</span>
      </li>
    </ng-container>
    <!-- Navigation Menu Start Here -->

    <!-- Logout Button Start Here -->
    <li class="profile flex flex-row items-center cursor-pointer" (click)="TemporaryLogout()">
      <span class="tooltip">Logout</span>
      <div class="profile-details">
        <div class="name_job">
          <div class="name">Logout</div>
        </div>
      </div>
      <i
        class="button-logout bx bx-log-out"
        id="log_out"
      ></i>
    </li>
    <!-- Logout Button Start Here -->

  </ul>
</nav>
