<div class="p-10 flex flex-wrap gap-5 justify-center">
    <div *ngFor="let group of approvalGroupData">
        <div class="min-w-50 max-w-50 w-50 custom-background border border-gray-200 rounded-lg shadow-md p-4">
            <!-- Bagian gambar -->
            <div class="flex justify-center">
              <img
                class="w-24 h-24 rounded-full"
                src="../../../../assets/images/60111.jpg"
                alt="User profile"
              />
            </div>
          
            <!-- Bagian informasi pengguna -->
            <div class="text-center mt-4">
              <h3 class="text-xl text-white font-semibold">{{group?.department}}</h3>
              <p class="text-white text-content truncate ...">{{ group?.approvals?.[0]?.approver_list?.[0]?.name }}</p>
            </div>
          
            <!-- Bagian aksi/tombol -->
            <div class="flex justify-center mt-6">
              <button (click)="OpenDialogAprovalGroup(group?._id)" mat-raised-button color="accent">
                Edit
              </button>
            </div>
          </div>

          <!-- <div class="p-3 rounded-lg shadow-md custom-background h-40 w-36 text-center">
            <h2>Holla</h2>
            <img src="../../../../assets/images/hasnur.jpeg.jpeg" alt="..." class="rounded-full h-24 w-24">
            <p class="text-gray-700 text-base">DEAR SYARR</p>
          </div> -->
    </div>
</div>
